


:root {

/* Theme dark  wooden */
    /* --order-type: linear-gradient(135deg, #588506 30%, #475a03 100%);

  --secondary-gradient: linear-gradient(135deg, #9b500a 30%, #9e5510 100%);
  --gold-accent-light: linear-gradient(135deg, #964b0d 30%, #aa4806 100%);



  --neutral-50: #FAFBF9;
  --neutral-100: #0b130b;
  --neutral-200: #faecc3;
  --neutral-400:#702705;
  --neutral-300: #D6DDD6;
  --neutral-800: #bb5917;
  --neutral-900: #eed859;
  --neutral-500 :rgb(92, 34, 1);

  --neutral-700: #772f05;
    --add-minus-buttom: #f3e4e4;
 --add-minus-count:white;

  --overall-border-color :rgb(240, 144, 35);
  --card-font : #f7f6f6; */



  /* Fresh yellow Theme */


 --secondary-gradient: linear-gradient(135deg, #f5a834 30%, #d8aa2d 100%); 
  --order-type: linear-gradient(135deg, #5f3709 30%, #643106 100%);

  --gold-accent-light: #f7b425;

    --overall-border-color :rgb(240, 144, 35);
  --card-font : #4a2525;

  --neutral-50: #FAFBF9;
  --neutral-100: #0b130b;
  --neutral-200: #faecc3;
  --neutral-400:#702705;
  --neutral-300: #D6DDD6;
  --neutral-800: #e9b526;
  --neutral-900: #eed859;
    --neutral-700: #772f05;

    --add-minus-buttom: #f3e4e4;
     --add-minus-count:rgb(94, 47, 4);


  
  /* --bg-card: linear-gradient(1deg, #ec9a2f 75%, #f8bb05 100%); */





  --primary-gradient: linear-gradient(135deg, #F7FBF5 0%, #E8F5E3 100%);
 
  /* Green Tones */
  --gold-primary: #3D7A4F;
  --gold-dark: #2d6326;
  --gold-light: #5A9B6E;
  --gold-accent: #df5e08;

  
  /* Earthy Neutrals */
  --earth-dark: #ec9a2f;
  --earth-medium: #06571a;
  --earth-light: #7F9383;

  /* Modern Neutrals */

  /* Accent Colors */
  --accent-orange: #E89E5F;
  --accent-terracotta: #C18B69;
  --accent-sage: #8FB89E;
  --accent-olive: #9BA578;
  
  /* Backgrounds */
  --bg-cream: linear-gradient(180deg, #faf2d8 0%, #f3ecdd 100%);
  --bg-warm: linear-gradient(180deg, #FFF9E5 0%, #FFFAF0 100%);
  
  /* Text Colors */
  --text-primary: #421901;
  --text-secondary: #361c26;
  --text-muted: #7A857A;
  --text-on-dark: #F7FBF5;


  --cart-border-color: goldenrod;

  
  /* Shadows */
  --shadow-sm: 0 8px 4px rgba(82, 70, 56, 0.199);
  --shadow-md: 0 4px 12px rgba(44, 62, 47, 0.12);
  --shadow-lg: 0 10px 24px rgba(44, 62, 47, 0.15);
  --shadow-xl: 0 20px 40px rgba(44, 62, 47, 0.18);
  
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);




  --primary-theme-header:"krt-kiosk-font";
  --secondary-theme-header:"Inter-bold";
  --primary-theme-subheading:"krt-kiosk-font-normal";
  --secondary-theme-subheading:"Inter-normal";

}


