@import "tailwindcss";
:root{
    ::-webkit-scrollbar{
        display: none;
    }
}
*{
    font-family: "Inter-bold";
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

/* Border wrapper for all pages */
.page-border-wrapper {
  min-height: 100vh;
  /* border: 5px solid rgb(240, 144, 35);
  box-shadow: 0 2px 8px rgb(236, 130, 8); */
  box-sizing: border-box;
  position: relative;
}



@font-face {
    font-family: "krt-kiosk-font";
    src: url("./assets/Agrandir-GrandHeavy.otf");
    font-weight: bold;
}


@font-face {
    font-family: "krt-kiosk-font-normal";
    src: url("./assets/Agrandir-GrandHeavy.otf");
    font-weight: 100;
    font-size: 30px;
    
}

@font-face {
    font-family: "Inter-bold";
    src: url("./assets/Inter.ttc");
    font-weight: bold;
}

@font-face {
    font-family: "Inter-normal";
    src: url("./assets/Inter.ttc");
    /* font-weight: bold; */
}









.back-button-item {
  /* background:; */
  background: var(--bg-warm);
  border: none;
  padding: 1.3rem 1.3rem;
  border-radius: 50%;
  color: var(--neutral-500 );
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}





.back-button {
  /* background: #F4C430; */
  background: var(--bg-warm);
  border: none;
  padding: 1.3rem 1.3rem;
  border-radius: 50%;
  color: var(--neutral-500 );
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-button-item:hover {
  background: var(--neutral-500);
  color: aliceblue;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.back-button:hover {
  background: var(--neutral-500);
  color: aliceblue;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
